body{
	font-family: sans-serif;
}

aside {
	width: 20%;
	height: 100vh;
	margin: 0;
	border-right: 4px solid #888;
	float:left;
}

main {
	width: 79%;
	float: left;
	position: relative;
	text-align: center;
}

#cat-list {
	padding: 0;
}

.cat-item {
    list-style: none;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

img {
	max-width: 250px;
	cursor: pointer;
}

#click-counter {
	display: none;
	width:100px;
	height: 100px;
	position: absolute;
	top: 100px;
	left: 100px;
	color: red;
	font-weight: bold;
	font-size: 40px;
}


/*
.counter {
	width: 40px;
	height: 40px;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	position: absolute;
	background: red;
	top: 10px;
	left: 10px;
	border-radius: 50%;
}

.counter span {
	display: block;
	margin-top: 11px;
}

#cats-container {
	max-width: 800px;
	margin:  0 auto;

}

.cat{
	max-width: 200px;
	border: 5px solid #bbb;
	margin: 0 20px 20px 0;
	float: left;
	position: relative;
	min-height: 180px;
}

.cat-picture {
	width: 200px;
	cursor: pointer;
	margin-bottom: 2px;
}*/